@import "variables";
@import "mixins";

body {
  font-family: $fontContent;
}

h1, h2 {
  font-family: $fontHeaders;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
}

.container__block--yellow {
  width: 100vw;
  height:25vh;
  padding:0;
  margin:0;
  background-color: yellow;
}
